@page "/"

<h3>IO</h3>

<input @bind-value="@content" />
<button class="btn btn-primary" @onclick="Write">Write</button>
<button class="btn btn-primary" @onclick="Read">Read</button>

<div style="word-wrap:break-word">@fileName</div>

@code {
    string content;

    string fileName = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.MyDocuments), "blazor.txt");

    private void Write()
    {
        System.IO.File.WriteAllText(fileName, content);
    }

    private void Read()
    {
        content=System.IO.File.ReadAllText(fileName);
    }

}

<hr />
<h3>设备信息</h3>

<button class="btn btn-primary" @onclick="GetDeviceDisplay">GetDeviceDisplay</button>

<div>Height:@DisplayInfo.Height</div>
<div>Width:@DisplayInfo.Width</div>
<div>Rotation:@DisplayInfo.Rotation</div>

@code{

    DisplayInfo DisplayInfo;

    public void GetDeviceDisplay()
    {
        DisplayInfo = DeviceDisplay.MainDisplayInfo;
    }
}