@page "/"

<h3>IO</h3>

<input @bind-value="@content" />
<button class="btn btn-primary" @onclick="Write">Write</button>
<button class="btn btn-primary" @onclick="Read">Read</button>

<div style="word-wrap:break-word">@fileName</div>

@code {
    string content;

    string fileName = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.MyDocuments), "blazor.txt");

    private void Write()
    {
        System.IO.File.WriteAllText(fileName, content);
    }

    private void Read()
    {
        content=System.IO.File.ReadAllText(fileName);
    }

}
